# Code to generate the json file of the coordinates gps of the universities

In [3]:
import numpy as np

In [4]:
np.__version__

'1.19.2'

In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
df = pd.DataFrame(columns=['university','country','lat','long','site'])

In [3]:
df

Empty DataFrame
Columns: [university, country, lat, long, site]
Index: []

In [4]:
df=df.append({"university":"USMB","country":"France","lat":45.56761144736685,"long":5.917261980927834,"site":"https://www.univ-smb.fr/"}, ignore_index=True)
df=df.append({"university":"UVT","country":"Romania","lat":45.748093569346665,"long":21.231490844949136,"site":"https://www.uvt.ro/ro/"}, ignore_index=True)
df=df.append({"university":"UBI","country":"Portugal","lat":40.2781198424507,"long":-7.5090171593232,"site":" https://www.ubi.edu/"}, ignore_index=True)
df=df.append({"university":"UPPA","country":"France","lat":43.31433794091983,"long":-0.3665944842841357,"site":"https://www.univ-pau.fr/fr/index.html"}, ignore_index=True)
df=df.append({"university":"UNIZAR","country":"Spain","lat":41.64249510675419,"long":-0.9014487970675739,"site":"https://www.unizar.es/"}, ignore_index=True)
df=df.append({"university":"UNITO","country":"Italy","lat":45.069458288031,"long":7.689125903013075,"site":" https://en.unito.it/"}, ignore_index=True)

In [5]:
df

,university,country,lat,long,site
0,USMB,France,45.567611,5.917262,https://www.univ-smb.fr/
1,UVT,Romania,45.748094,21.231491,https://www.uvt.ro/ro/
2,UBI,Portugal,40.278120,-7.509017,https://www.ubi.edu/
3,UPPA,France,43.314338,-0.366594,https://www.univ-pau.fr/fr/index.html
4,UNIZAR,Spain,41.642495,-0.901449,https://www.unizar.es/
5,UNITO,Italy,45.069458,7.689126,https://en.unito.it/

In [6]:
df.to_json("coord.json", orient = 'records')