# Code to generate the json file of the coordinates gps of the universities

In [1]:
import pandas as pd
import numpy as np
import json
import base64
import os
from PIL import Image
from io import BytesIO
from os.path import basename
from pathlib import Path

Versions : numpy 1.19.2 and pandas 1.0.2

In [2]:
df = pd.DataFrame(columns=['university','country','lat','long','site', 'students'])

In [3]:
df

Empty DataFrame
Columns: [university, country, lat, long, site, students]
Index: []

In [4]:
df=df.append({"university":"USMB","country":"France","lat":45.56761144736685,"long":5.917261980927834,"site":"https://www.univ-smb.fr/", "students":15399}, ignore_index=True)
df=df.append({"university":"UVT","country":"Romania","lat":45.748093569346665,"long":21.231490844949136,"site":"https://www.uvt.ro/ro/", "students":16000}, ignore_index=True)
df=df.append({"university":"UBI","country":"Portugal","lat":40.2781198424507,"long":-7.5090171593232,"site":" https://www.ubi.edu/", "students":7000}, ignore_index=True)
df=df.append({"university":"UPPA","country":"France","lat":43.31433794091983,"long":-0.3665944842841357,"site":"https://www.univ-pau.fr/fr/index.html", "students":13500}, ignore_index=True)
df=df.append({"university":"UNIZAR","country":"Spain","lat":41.64249510675419,"long":-0.9014487970675739,"site":"https://www.unizar.es/", "students":39664}, ignore_index=True)
df=df.append({"university":"UNITO","country":"Italy","lat":45.069458288031,"long":7.689125903013075,"site":" https://en.unito.it/", "students":81700}, ignore_index=True)

In [5]:
df

,university,country,lat,long,site,students
0,USMB,France,45.567611,5.917262,https://www.univ-smb.fr/,15399
1,UVT,Romania,45.748094,21.231491,https://www.uvt.ro/ro/,16000
2,UBI,Portugal,40.278120,-7.509017,https://www.ubi.edu/,7000
3,UPPA,France,43.314338,-0.366594,https://www.univ-pau.fr/fr/index.html,13500
4,UNIZAR,Spain,41.642495,-0.901449,https://www.unizar.es/,39664
5,UNITO,Italy,45.069458,7.689126,https://en.unito.it/,81700

In [6]:
df = df.sort_values(by = 'university')

In [7]:
df

,university,country,lat,long,site,students
2,UBI,Portugal,40.278120,-7.509017,https://www.ubi.edu/,7000
5,UNITO,Italy,45.069458,7.689126,https://en.unito.it/,81700
4,UNIZAR,Spain,41.642495,-0.901449,https://www.unizar.es/,39664
3,UPPA,France,43.314338,-0.366594,https://www.univ-pau.fr/fr/index.html,13500
0,USMB,France,45.567611,5.917262,https://www.univ-smb.fr/,15399
1,UVT,Romania,45.748094,21.231491,https://www.uvt.ro/ro/,16000

### We add universities' images in the df

We convert images to base64 format to store them in the MongoDB database. It generates 6 files, one file for each university.

In [8]:
img_list = Path("C:\\Users\\camil\\Desktop\\Unita\\clean_data").glob('**/*.jpg')

for path in img_list:
    
    name_img_list = os.path.splitext(basename(path))[0]
    
    with open(basename(path), "rb") as image_file:
        b64_string  = base64.b64encode(image_file.read())
        f = open("C:\\Users\\camil\\Desktop\\Unita\\clean_data\\{}.txt".format(name_img_list), "wb")
        f.write(b64_string)
        f.close()

We get images in base64 format and we store them in variables to add them to the df.

In [9]:
img_list_txt = Path("C:\\Users\\camil\\Desktop\\Unita\\clean_data").glob('**/*.txt')
img_base64_list = []
for path in img_list_txt:
    
    f = open(path, 'r')
    data = f.read()
    f.closed
    
    img_base64_list.append(data)
    
#To test the decoding of images in base64 format
#im = Image.open(BytesIO(base64.b64decode(data)))
#im.save('image.png', 'PNG')

In [10]:
df['img'] = img_base64_list

In [11]:
df

,university,country,lat,long,site,students,img
2,UBI,Portugal,40.278120,-7.509017,https://www.ubi.edu/,7000,/9j/4AAQSkZJRgABAQEAYABgAAD/4RD0RXhpZgAATU0AKg...
5,UNITO,Italy,45.069458,7.689126,https://en.unito.it/,81700,/9j/4AAQSkZJRgABAQAAAQABAAD//gA7Q1JFQVRPUjogZ2...
4,UNIZAR,Spain,41.642495,-0.901449,https://www.unizar.es/,39664,/9j/4AAQSkZJRgABAQAAAQABAAD//gA8Q1JFQVRPUjogZ2...
3,UPPA,France,43.314338,-0.366594,https://www.univ-pau.fr/fr/index.html,13500,/9j/4AAQSkZJRgABAQEAYABgAAD/4RCcRXhpZgAATU0AKg...
0,USMB,France,45.567611,5.917262,https://www.univ-smb.fr/,15399,/9j/4AAQSkZJRgABAQEASABIAAD/2wBDAAYEBQYFBAYGBQ...
1,UVT,Romania,45.748094,21.231491,https://www.uvt.ro/ro/,16000,/9j/4UYURXhpZgAASUkqAAgAAAAFABoBBQABAAAASgAAAB...

In [12]:
df.to_json("coord.json", orient = 'records')